body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.chatbox {
    padding: 20px;
}

.chat {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #000000;
}

button {
    width: 70px;
    padding: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}
